.caixa-cinza {
    background-color: #ccc;
    height: 200px;
    display: flex;
    flex-direction: row; /* row, row-reverse, column, column-reverse */
}

.caixa-direction {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 15px;
    margin: 10px;
    position: relative;
}

.numero {
    font-size: 150%;
    color: rgb(250, 192, 0);
    font-weight: bold;
}

.circulo {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgb(189, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caixa-branca {
    background-color: #ffffff;
    border: solid 1px #eeff00;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* nowrap, wrap, wrap-reverse */
}

.caixa-wrap {
    width: 100px;
    height: 100px;
    background-color: #ff7b00;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
}

.caixa-azul {
    background-color: #287bf7;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-start, flex-end, center, space-round, space-between, space-evenly*/
}

.caixa-justify {
    width: 100px;
    height: 100px;
    background-color: #fab778;
    margin: 5px;
    border-radius: 10px;
}